.title{
border-radius: 10px;
margin-bottom: 10px;
text-align:center;
width: 210px;
color:red;
}
input[type="button"]
{
background-color:grey;
color: white;
width:100%;
}
input[type="text"]
{
border-radius: 10px;
text-align: right;
background-color:white;
border-color: black ;
width:auto;
}

